.logo{
	width: 300px;
	vertical-align: middle;	
	margin:0 50px 0 0;
}
.navbar-li{
	display: inline-block;
	font-size: 50px
}
.navbar{
	display: inline-block;
	vertical-align: middle;
}
.comet{
	padding:0 30px 0 0;
}
.comet1{
	color: red;
	padding:0 30px 0 0;
}
.ryukin{
	padding:0 30px 0 0;
}
.ryukin1{
	color: red;
	padding:0 30px 0 0;
}
.fantail{
	padding:0 30px 0 0;
}
.fantail1{
	color: red;
	padding:0 30px 0 0;
}
.header{
	margin:50px 0 0 50px;
}
.Goldfish{
	font-size: 70px;
	margin:50px 0 0 50px;
}
.meeting{
	margin:0 0 30px 0;
}
.koi{
	margin:50px 0 0;
	width: 1500px;
}
.history{
	font-size: 50px;
	margin:50px 0 0 50px;
}
.p1{
	padding: 10px 0 0;
}
.p2{
	padding: 10px 0 0;
}
.p3{
	padding: 10px 0 0;
}
.p4{
	padding: 10px 0 0;
}
.p5{
	padding: 10px 0 0;
	margin: 0 0 30px 0;
}
.title-comet{
	font-size: 50px;
	margin:50px 0 0 50px;
}
.comet-photo{
	margin:45px 0 45px 0;
	width:600px;
}
.divcomet{
	padding:0 0 30px 0;
}
.title-ryukin{
	font-size: 50px;
	margin:50px 0 0 50px;
}
.ryukin-photo{
	width: 400px;
	margin:50px 0 50px 0;
}
.history-ryukin{
	padding:0 0 30px 0;
}
.title-fantail{
	font-size: 50px;
	margin:50px 0 0 50px;
}
.fantail-photo{
	margin:45px 0 45px 0;
	width:450px;
}.fantail-end{
	padding:0 0 30px 0;
}